@font-face {
  font-family: "Moriatz Sans Variable";
  src: url("./assets/fonts/MoriatzSans-Variable.woff2") format("woff2-variations");
  font-display: swap;
  font-style: normal;
  font-weight: 100 700;
}

